<html>
<head><title>WELCOME TO KAUSH'S SITE</title></head>
<body bgcolor="black">
	<font color="red">
		<center><h1>WELCOME TO KAUSH'S PHONE BOOK APP</h1></center><br>
		This app lets you to add a number to our database and search any number in our database. 10 digit mobile numbers are expected from user.
		<marquee><h2><a href="phonebook/">Click to use this app</a></h2></marquee>
	</font>
<font color="yellow">
	*This app is property of Kaustubh Pandey(Kaush)<br>
	*Copyright<br>ADVERTISEMENT:
</font><hr>
<a href="https://www.youtube.com/watch?v=wIft-t-MQuE"> Watch latest songs Only
	on Kaush's Music App</a>
</body>
</html>